.username-section label {
    padding-right: 1rem;
  }
  
  .password-section label {
    padding-right: 1.2rem
  }
  .login-form {
    border: 2px solid white;
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .to-register {
    position: relative;
    display: flex;
    flex-direction: row;
    top: 8rem;
  }

  .to-register h1 {
    font-size: 1rem;
  }

  .to-register a {
    color: red;
  }

  .to-login {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
  }

  .to-login h1 {
    font-size: 1rem;
  }

  .to-login a {
    color: red;
  }
  
  .repassword {
    position: relative;
    right: 2rem;
  }

  .repassword-input {
    position: relative;
    right: 2.6rem;
  }
  .password-section {
    padding-top: 1rem;
    padding-bottom: .5rem;
  }

  .error-password {
    color: red;
    font-size: 1.1rem;
  }
  
  .submit-button {
    margin-right: 16px;
    margin-top: 1rem;
  }
  
  .logout-button {
    width: 150px;
  }
  .password-input {
    position: relative;
    right: 0.3rem;
  }
  .password-section label {
    margin-left: 1rem;
  }
  button {
    border-radius: 5px;
    border: 2px solid white;
    text-decoration: none;
    font-size: 1rem;
    background-color: transparent;
    height: 30px;
    width: 80px;
    position: relative;
    left: 1rem;
    font-family: 'Montserrat', sans-serif;
  }

  button:hover {
    background-color: white;

  }
  
  input {
    border-radius: 4px;
    border: none;
    height: 1.5rem;
    background-color: rgb(234, 232, 232);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
  }
  
  input:focus {
    outline: none;
  }