@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body {
  /*background: linear-gradient(90deg, rgba(147,165,207,1) 100%, rgba(228,239,233,1) 74%); */
  background: linear-gradient(90deg, rgba(10, 118, 62, 0.438) 100%, rgba(228,239,233,1) 74%); 
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}