@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');


:root {
    --main:  rgb(10, 118, 62,0.43);
}

.appbody {
    width: 100vw;
    height: 100vh;
    min-width: 600px;
    margin-left: 1rem;
    
}
.name {
    color: white;

}

.logoutbut {
    color: white;
    position: relative;
    bottom: 3.8rem;
    left: 112rem;
}

.logoutbut:hover {
    color: #262626;
}

/* Progression and Weather Section*/
/* Progression Circle*/
.weatherProg {
    margin-top: 2rem;
    display: flex;
    height: 20rem;
    width: 100vw;
    border-radius: 30px;
    justify-content: center;
}
.date {
    border: 2px solid white;
    color: white;
    height: 20rem;
    width: 30rem;
    border-radius: 30px;
    margin-right: 12rem;
    text-align: center;
}
.day {
    position: relative;
    font-size: 3rem;
    color: black;
    margin-bottom: 2rem;
}

.today {
    font-size: 4rem;
}

.dates {
    font-size: 2rem;
}


/* Weather Section*/
.weather {
    height: 20rem;
    width: 30rem;
    text-align: center;
    border-radius: 30px;
    align-items: center;
    align-content: center;
    border: 2px solid white;
    display: inline-block;
    margin-left: 12rem;
}

.weatherTitle {
    color: white;
}

.weatherDisplay img {
    margin-top: -1rem;
    width: 90px;
    height: 90px;
}
.weather input {
    border-radius: 10px;
}
.weatherInput {
    margin-top: -2rem;
}

.invalidCity {
    color: red;
    margin-top: 3rem;
    font-family: 'Merriweather', serif;
    font-size: 25px
}

.cityName {
    font-family: 'Merriweather', serif;
    font-size: 25px;
    color: white;
    margin-top: 0.5rem;
}

.temp {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    margin-top: -0.5rem;
    color: white;
    text-shadow:  3px 6px rgba(50, 50, 70, 0.3);
}
.weatherType {
    font-family: 'Merriweather', serif;
    margin-top: -0.8rem;
    color: white;
}
/* Background */
.background {
    margin-top: 2rem;
    background-image: url(../img/forrest.jpg);
    height: 30rem;
    margin-right: 1rem;
    background-size: 2050px 550px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
}

.background h1 {
    position: relative;
    color: white;
    font-size: 4rem;
    left:3rem;
    top: 23rem;
}
/* To-Do Section*/
.todoSection h1 {
    font-size: 25px;
    color: white;
}

.todoSection h2 {
    font-size: 20px;
    color: white;
}

.enterTodo{
    width: 85.5%;
    height: 18px;
    padding: 1rem 1rem;
    margin-bottom: 1.5rem;
    background-color: transparent;
    border: 2px solid white;
    border-right: none;
}

.create-but{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    
}
.plusBut {
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 2rem;
    position: relative;
    border: 2px solid white;
    height: 3.3rem;
    top: -0.8rem;
    left: -2rem;
    border-left: none;
    border-top: none;
    border-bottom: none;
    background-color: transparent;
}

.enterTodo::placeholder{
    color: white;
    
  }

.enterTodo {
    color: white;
    width: 90vw;
}

ul li {
    list-style: none;
    border-radius: 0.5rem;
    background-color: transparent;
    margin-left: -2.5rem;
    display: flex;
    border: 2px solid white;
    width: 100%;
    position: relative;
    top: 1rem;
    left: 1rem;
    margin-bottom: 2.5rem;
}

.del-edit {
    position: relative;
    left: -1rem;
}


.todoPage {
    display: block;

}

.deleteBut {
    margin-right: auto;
    border-radius: 0.5rem;
    border: none;
    color: white;
    background-color: transparent;
}

 .deleteBut:hover {
    background-color: transparent;
}

.editBut {
    margin-right: auto;
    border-radius: 0.5rem;
    border: none;
    color: white;
    background-color: transparent;
    margin-left: 1rem;
    margin-right: 0.5rem;
}

.editBut:hover {
    background-color: transparent;
}

.editSection {
    display:block ;
    flex-direction: row; 
}

.editInput {
    margin-top: 1rem;
    border-radius: 0.5rem;
    width: 100%;
    height: 2rem;
    border: 2px solid white;
    color: black;
    margin-left: 2rem;
    background-color: transparent;
}

.editSection button {
    border-radius: 0.5rem;
    border: none;
    background-color: transparent;
    color: white;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
    margin-left: -0.5rem;
    width: 10rem;
}

.editSection button:hover {
    color: white;
}



.all-todos {
    width: 98vw;
    background-color: var(--main);
    border-radius: 5px;
}



/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 55px;
    padding-top: 3px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
.container span {
    color: white;
}
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
    margin-left: 1rem;
    margin-top: 0.3rem;
    border: 2px solid white;

  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: var(--main);
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: var(--main);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
.resetBut {
    margin-right: auto;
    border-radius: 0.5rem;
    border: none;
    color: white;
    margin-left: 0rem;
    width: 10rem;
    margin-bottom: 1rem;
}

.resetBut:hover {
    color: rgb(10, 118, 62,1);
    background-color: transparent;
}

.todo-title {
    text-align: center;
    padding-top: 1rem;
}